*{
    margin:0;
    box-sizing:border-box;
    padding:0;
}
.container{
    width:100%;
    height:100%;
    position: absolute;
    overflow:hidden;
}

.menu{
    width:500px;
    height:100px;
    background-color:red;
    position: absolute;
    top:calc(100% - 100px);
    left:0;
    z-index: 5;
}